<div class="contenedorSesion">
    <div id="divInicioSesion">
        <div id="tituloInicioSesion">Inicio de sesión</div>
        @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post, htmlAttributes: new { id = "formularioInicioSesion" }))
        {            
            <div class="inputFormularios">
                <label class="labelFormularioSesion">Usuario</label>
                <input type="text" class="inputFormularioSesion" name="usuario" />
            </div>
            <br /><br /><br />
            <div class="inputFormularios">
                <label class="labelFormularioSesion">Contraseña</label>
                <input type="password" class="inputFormularioSesion" name="contrasenia" />
            </div>
            <input type="submit" value="Login" id="botonInicioSesion" />
            <p class="textoFormularioSesion">
                Olvidé mi contraseña
            </p>
            <p class="textoFormularioSesion">
                <a href="@Url.Action("Registro", "Login")">¿No tienes cuenta?&nbsp;Crear cuenta</a>
            </p>
        }
    </div>
</div>
