<div id="divVerPregunta">
    <div id="contenedorPreguntas">
        <div id="tituloPregunta">Es Alex vegano?</div>
        <div class="respuestasPregunta">
            @*<img src="~/Content/img/"
        *@</div>
    </div>
    <div class="otrasCategorias">
        
    </div>
</div>



