@using Foro.Controllers
@using Foro.Models

@{

    Preguntas pregunta = Model;
    string simbolo = "@";


}

<div id="divVerPregunta">
    <div id="contenedorPreguntas">
        <div id="tituloPregunta">@pregunta.titulo</div>
        <div class="respuestasPregunta">
            <div>
                <img src="~/Content/img/sinimg.png" class="sinImg" />
                <div class="divInformacionRespuesta">@simbolo@pregunta.Usuarios.usuario</div>
                <br /><br />
                <div class="fechaPublicacionRespuesta">Publicado el @Convert.ToDateTime(pregunta.fechaPublicacion).ToString("yyyy/MM/dd")</div>
            </div>           
            <div class="bordeRespuesta">
                <div class="descripcionRespuesta">@pregunta.descripcion</div>
            </div>
        </div>
        <div class="respuestasPregunta">
            <div>
                <img src="~/Content/img/sinimg.png" class="sinImg" />
                <div class="divInformacionRespuesta">@simbolo@pregunta.Usuarios.usuario</div>
                <br /><br />
                <div class="fechaPublicacionRespuesta">Publicado el @Convert.ToDateTime(pregunta.fechaPublicacion).ToString("yyyy/MM/dd")</div>
            </div>
            @*SEGUIR SQUI*@
        </div>
        
    </div>
    <div class="otrasCategorias">

    </div>
</div>
