body, html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    
}

div.contenedorSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #ededed;
}

div#divInicioSesion {    
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius:10px;
}

div#divRegistroSesion {
    background-color: white;
    width: 900px;
    height: 750px;
    border-radius: 10px;
}


div#tituloInicioSesion {
    text-align: center;
    background-color: #8591fe;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.inputFormularios{    
    width: 600px;
    margin: auto;
}

input.inputFormularioSesion {
    height: 40px;
    width: 550px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    color: gray;
    background-color: #ededed;
}

label.labelFormularioSesion{    
    margin-left: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

form#formularioInicioSesion {
    margin-top: 60px;
}

form#formularioRegistroSesion{
    margin-top: 40px;
}

div.registroSesion{
    width: 800px;
}

input.inputRegistro {
    width: 755px;
}

div#divNombreApellidos{
    display: flex;    
}

input.nombreApellidos{
    width: 300px;
    display: inline;
}

label#nombrePersona{
    margin-left: 75px;
}

label#apellidosPersona{
    margin-left: 390px;
}

input#botonInicioSesion {
    display: block;
    width: 330px;
    height: 45px;
    margin: auto;
    font-weight: bold;
    margin-top: 40px;
    border: none;
    border-radius: 50px;
    background-color: #c3c8f8;
    transition: 0.5s all ease;
    cursor: pointer;
}

    input#botonInicioSesion:hover {
        background-color: #9da6fb;
        color: white;
    }

p.textoFormularioSesion{
    margin-top: 40px;
    margin-left: 80px;    
}

nav#navegacionPrincipal {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

div#separadorNav{
    width: 100%;
    height: 50px;
    background-color: #2c2a2a;
}

div#ulNavegacion{
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

    

div#cajaBotonesSesion {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

span.botonesDeSesion {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 14px;
    color: #5a5a5a;
    transition: 0.5s all ease;
    cursor: pointer;
    color: white;
}


span#inicioSesionMenu {
    background-color: #c3c8f8;
    text-decoration: none;
}

    span#inicioSesionMenu:hover {
        background-color: #9da6fb
    }

span#registrarSesionMenu {
    background-color: #8591fe;
    color: white;
}

    span#registrarSesionMenu:hover {
        background-color: #6574fc;
    }

input#buscadorPrincipal {    
    
    border-color: var(--theme-topbar-search-border);
    border-radius: 20px;
    width: 1000px;
    height: 40px;
    margin: auto;
    border: 1px solid #e4e4e4;
    background-color: #f7f7f7;
    padding-left: 20px;
    
}

    input#buscadorPrincipal:focus {
        border: 1px solid #e4e4e4;
    }

#iniSesion {
    text-decoration: none;
    color: white;
}

#regSesion {
    text-decoration: none;
    color: white;
}

img#logo{

    margin-left: 10px;
    margin-right: auto;    
    width: 200px;
    height: 70px;
}

div#divCategorias {
    background-color: #ededed;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

div#todasCategorias{
    width: 1300px;
    padding: 50px;
    padding-bottom: 100px;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}

div.filaCategoria{
    display: flex;
    margin-top: 15px;
    transition: 0.5s all ease;
    cursor: pointer;
    border-radius: 10px;
}

div.filaCategoria:hover{
    background-color: #f6f6f6;
}

div.datosCategorias{
    flex-direction: column;
    margin-left: 10px;
    margin-top: 3px;    
}

span.tituloCategoria {
    font-weight: bold;
    font-size: 18px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #2c2a2a;
    color: white;
   
}

div#contadorPreguntas{
    padding-top: 25px;
    color: gray;
    margin-left: auto;
}

a#enlaceCategorias {
    color: inherit !important;
    text-decoration: none;
}

div#divVerCategoria {
    background-color: #ededed;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

div#contenedorCategoria {
    width: 1300px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
}

div#tituloCat {
    font-size: 35px;
    font-weight: bold;
    background-color: #8591F5;
    border-radius: 20px;
    color: white;
    width: 1300px;        
    padding: 20px 50px 20px 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

div#encabezadoVerCategorias {
    height: 40px;
    background-color: #2c2a2a;
    width: 1400px;
    color: white;    
}

    div#encabezadoVerCategorias > span {
        display: inline-block;
        line-height: 40px; 
        padding-left: 50px;        
        font-weight: bold;
    }

div.filasPreguntas{    
    display: flex;
    height: 50px;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;    
    transition: 0.5s all ease;
    
}

    

img#imagenHilo{
    border-right: 1px solid gray;    
}

div#contenidoHilo{
    margin-left: 20px;
    padding-top: 5px;
}

span#usuarioHilo{
    color: gray;
}

div#numeroComentarios{
    margin-left: auto;
    padding-top: 25px;
}

span#iconoPerfil{
    margin-left: 40px;
}

a.enlacePregunta{
    text-decoration: none;
    color: inherit;
}

span.simbolObl{
    color: red;
}

div#divVerPregunta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ededed;
}

div#contenedorPreguntas{
    width: 1400px;
    height: 800px;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
}

div.otrasCategorias{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: white;
}

div#tituloPregunta {
    height: 40px;
    border-bottom: 10px solid #c3c8f8;
    font-weight: bold;
    font-size: 27px;
    padding: 20px 20px 5px 20px;
    
}

div.respuestasPregunta{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-color: gray;
}